body {
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    background-color: whitesmoke;
    overflow: hidden;
    transition: background-color 2s;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title {
    text-align: center;
    color: #024b1d;
    margin: auto;
    font-size: 8em;
}

.header>button {
    display: none;
}

.header>button.active {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    animation: fade-in 1s;
}

.header>button:not(.active).did-fade-in {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    animation: fade-out 1s;
}

.index-container {
    display: none;
}

.index-container.active {
    display: flex;
    justify-content: space-around;
    height: 50%;
    animation: fade-in 1s;
}

.index-container:not(.active).did-fade-in {
    display: flex;
    height: 50%;
    animation: fade-out 1s;
}

.index-container>button {
    flex: 1;
    margin: 2%;
    height: 100%;
    font-size: 4em;
    transition: all 0.5s;
    color: #e6f9c4;
    background: #80c1b9;
    box-shadow: 0 0 3px 3px #888;
}

.index-container>button:hover {
    box-shadow: 0 0 1px 1px #666;
    filter: brightness(1.1);
    transition: 0.2s;
}

.index-container>button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.index-container>button:hover span {
    padding-right: 25px;
}

.index-container>button:hover span:after {
    opacity: 1;
}

.index-container>button span:after {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.index-container>.start-button span:after {
    content: '\27be';
}

.index-container>.how-to-button span:after {
    content: '\2754';
}

.help-container {
    display: none;
    overflow: hidden;
}

.help-container.active {
    display: block;
    text-align: center;
}

.help-container>p {
    display: none;
}

.help-container>p.active {
    display: block;
    animation: help-in 1s;
}

.help-container>p:not(.active).did-fade-in {
    display: block;
    animation: help-out 1s;
}

.setup-container {
    display: none;
}

.setup-container.active {
    display: flex;
    justify-content: space-around;
    height: 30%;
    animation: fade-in 1s;
}

.setup-container:not(.active).did-fade-in {
    display: flex;
    justify-content: space-around;
    height: 30%;
    animation: fade-out 1s;
}

.setup-container button {
    grid-area: ok-button;
    background: white;
    border: solid 2px #80c1b9;
    transition: 0.5s;
}

.setup-container button:hover {
    background: #80c1b9;
}

.player-setup {
    display: grid;
    grid-template-areas:
        "title title title"
        "name-input name-input ok-button"
        "control control control";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.player-setup>.player-setup-title {
    grid-area: title;
    color: #024b1d;
    font-size: 4em;
    margin: 0;
    text-align: center;
}

.player-setup>input {
    grid-area: name-input;
    font-size: 200%;
    outline: none;
    border: solid 3px #bbb;
    padding: 1%;
    transition: 0.3s;
}

.player-setup>input:focus {
    border: solid 3px #80c1b9;
}

.player-setup>.control-button {
    grid-area: control;
}

.game-setup {
    display: grid;
    grid-template-areas:
        "maxGrabTitle maxGrabTitle maxGrabTitle"
        "minusGrab maxGrab plusGrab"
        "play play play";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.max-grab-title {
    grid-area: maxGrabTitle;
    text-align: center;
}

.game-setup>button:not(#play-button) {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 4em;
    background: white;
    border: solid 2px #80c1b9;
    transition: 0.5s;
}

.game-setup>p {
    font-size: 3em;
}

#minus-grab {
    grid-area: minusGrab;
}

#plus-grab {
    grid-area: plusGrab;
}

#play-button {
    grid-area: play;
    height: 200%;
    margin-top: auto;
}

.game-container {
    display: none;
}

.game-container.active {
    display: flex;
    justify-content: space-around;
    height: 50%;
    animation: fade-in 1s;
}

.game-container:not(.active).did-fade-in {
    display: flex;
    justify-content: space-around;
    height: 50%;
    animation: fade-out 1s;
}

.player-container {
    display: grid;
    width: 20%;
    justify-items: center;
    align-items: center;
    grid-template-areas: "title title title"
        "minus amount plus"
        "taken taken taken";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.player-container>button {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 4em;
    background: white;
    border: solid 2px #80c1b9;
    transition: 0.5s;
}

.player-container>button:hover {
    background: #80c1b9;
}

.player-container>.player-title {
    grid-area: title;
    text-align: center;
    font-size: 3em;
    color: #024b1d;
}

.player-container>.minus-button {
    grid-area: minus;
}

.player-container>p {
    grid-area: amount;
    font-size: 3em;
}

.player-container>.plus-button {
    grid-area: plus;
}

.player-container>div {
    grid-area: taken;
}

.nim-container {
    width: 30%;
    justify-content: space-around;
    color: white;
    text-align: center;
}

.nim-ball {
    display: none;
}

.nim-ball.active {
    display: inline-block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid green;
    background: white;
    margin-right: 5px;
    box-shadow: 0px 0px 2px 2px #444;
    animation: fall-in 1s;
}

.nim-ball:not(.active).did-fade-in {
    display: inline-block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid green;
    background: white;
    margin-right: 5px;
    box-shadow: 0px 0px 2px 2px #444;
    animation: fall-out 1s;
}

.taken-container>.nim-ball.active {
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    background: white;
    margin-right: 5px;
    box-shadow: 0px 0px 2px 2px #444;
    animation: fall-out 1s reverse;
}

.shake {
    animation: shake 1s;
}

.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
    animation-delay: 1.25s, 1.25s, 1.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

.hidden {
    display: none;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes help-in {
    from {
        transform: translate(0, 500px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes help-out {
    from {
        opacity: 1;
    }

    to {
        transform: translate(1200px, 0);
    }
}

@keyframes fall-in {
    from {
        transform: translate(0, -500px);
    }

    to {}
}

@keyframes fall-out {
    from {
        opacity: 1;
    }

    to {
        transform: translate(0, 300px);
        opacity: 0;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate(-1px);
    }

    20%,
    80% {
        transform: translate(2px);
    }

    30%,
    70% {
        transform: translate(-4px);
    }

    40%,
    60% {
        transform: translate(4px);
    }

    50% {
        transform: translate(-4px);
        color: red;
    }
}

@keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}