body {
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    background: whitesmoke;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title {
    text-align: center;
    color: #024b1d;
    margin: auto;
    font-size: 8em;
}

.header>button {
    display: none;
}

.header>button.active {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    animation: fade-in 1s;
}

.header>button:not(.active).did-fade-in {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    animation: fade-out 1s;
}

.index-container {
    display: none;
}

.index-container.active {
    display: flex;
    justify-content: space-around;
    height: 50%;
    animation: fade-in 1s;
}

.index-container:not(.active).did-fade-in {
    display: flex;
    height: 50%;
    animation: fade-out 1s;
}

.index-container>button {
    flex: 1;
    margin: 2%;
    height: 100%;
    font-size: 4em;
    transition: all 0.5s;
    color: #e6f9c4;
    background: #80c1b9;
    box-shadow: 0 0 3px 3px #888;
}

.index-container>button:hover {
    box-shadow: 0 0 1px 1px #666;
    filter: brightness(1.1);
    transition: 0.2s;
}

.index-container>button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.index-container>button:hover span {
    padding-right: 25px;
}

.index-container>button:hover span:after {
    opacity: 1;
}

.index-container>button span:after {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.index-container>.start-button span:after {
    content: '\27be';
}

.index-container>.how-to-button span:after {
    content: '\2754';
}

.help-container {
    display: none;
    overflow: hidden;
}

.help-container.active {
    display: block;
    text-align: center;
}

.help-container>p {
    display: none;
}

.help-container>p.active {
    display: block;
    animation: help-in 1s;
}

.help-container>p:not(.active).did-fade-in {
    display: block;
    animation: help-out 1s;
}

.setup-container {
    display: none;
}

.setup-container.active {
    display: flex;
    justify-content: space-around;
    height: 30%;
    animation: fade-in 1s;
}

.setup-container:not(.active).did-fade-in {
    display: flex;
    justify-content: space-around;
    height: 30%;
    animation: fade-out 1s;
}

.setup-container button {
    grid-area: ok-button;
    background: white;
    border: solid 2px #80c1b9;
    transition: 0.5s;
}

.setup-container button:hover {
    background: #80c1b9;
}

.player {
    display: grid;
    grid-template-columns: 1 1 1;
    grid-template-rows: auto;
    grid-template-areas:
        "title title title"
        "name-input name-input ok-button"
        "control control control";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.player>.player-title {
    grid-area: title;
    color: #024b1d;
    font-size: 4em;
    margin: 0;
    text-align: center;
}

.player>input {
    grid-area: name-input;
    font-size: 200%;
    outline: none;
    border: solid 3px #bbb;
    padding: 1%;
    transition: 0.3s;
}

.player>input:focus {
    border: solid 3px #80c1b9;
}

.player>.control-button {
    grid-area: control;
}

.play-button {
    height: 50%;
    width: 20%;
    margin-top: auto;
}

.game-container {
    display: none;
}

.game-container.active {
    display: flex;
    justify-content: space-around;
    height: 50%;
    animation: fade-in 1s;
}

.game-container:not(.active).did-fade-in {
    display: flex;
    justify-content: space-around;
    height: 50%;
    animation: fade-out 1s;
}

.player-container {
    display: grid;
    width: 20%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1 1 1;
    grid-template-rows: auto;
    grid-template-areas: "title title title"
        "minus amount plus"
        "taken taken taken";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.player-container>button {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 4em;
    background: white;
    border: solid 2px #80c1b9;
    transition: 0.5s;
}

.player-container>button:hover {
    background: #80c1b9;
}

.player-container>.player-title {
    grid-area: title;
    text-align: center;
    font-size: 3em;
    color: #024b1d;
}

.player-container>.minus-button {
    grid-area: minus;
}

.player-container>p {
    grid-area: amount;
    font-size: 3em;
}

.player-container>.plus-button {
    grid-area: plus;
}

.player-container>div {
    grid-area: taken;
}

.nim-container {
    border: 1px solid red;
    flex: 1;
}










.hidden {
    display: none;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes help-in {
    from {
        transform: translate(0, 500px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes help-out {
    from {
        opacity: 1;
    }

    to {
        transform: translate(1000px, 0);
    }
}